Файл с описанием дистанций выглядит следующим образом

In [ ]:
with open(outfile, 'a') as outf:
    for i in range(l):
        outf.write(
            ids[i] + " " + \
            str(dct['start_left'][i]) + " " + \
            str(dct['start_right'][i]) + " " + \
            str(dct['end_left'][i]) + " " + \
            str(dct['end_right'][i]) + "\n")

Сначала запишем правильно названия хромосом в bed файле с рестрикц, фрагментами

In [2]:
import numpy as np
import pandas as pd
from sys import argv

In [3]:
filename_rsites = 'restr_fragshort.bed'
strand  = '+'

In [7]:
try:
    rsites = pd.read_csv(filename_rsites, header=None, sep='\t')
    print('hi')
except pd.errors.EmptyDataError:
    rsites = pd.DataFrame(columns=np.arange(6))
rsites.columns = ['chrom', 'start', 'end', 'name', '_', 'strand']
rsites = rsites.loc[rsites.strand == strand, :].sort_values(['chrom', 'start'])
rsites_grouped = rsites.groupby('chrom')

hi

In [8]:
rsites

            chrom   start     end         name  _ strand
0    NC_000001.11   10802   10802     NlaIII_1  .      +
1    NC_000001.11   10876   10876     NlaIII_2  .      +
2    NC_000001.11   10952   10952     NlaIII_3  .      +
3    NC_000001.11   11717   11717     NlaIII_4  .      +
4    NC_000001.11   11756   11756     NlaIII_5  .      +
..            ...     ...     ...          ... ..    ...
995  NC_000001.11  259789  259789   NlaIII_996  .      +
996  NC_000001.11  260156  260156   NlaIII_997  .      +
997  NC_000001.11  260562  260562   NlaIII_998  .      +
998  NC_000001.11  260620  260620   NlaIII_999  .      +
999  NC_000001.11  260635  260635  NlaIII_1000  .      +

[1000 rows x 6 columns]

NC_000024.10 такое там тоже есть

In [37]:
rsi = open('restr_fragshort.bed', 'r')

In [38]:
refrsi = open('rest_reformed', 'w')

In [39]:
dic_chr = {'NC_000001.11' : '1', 
           'NC_000002.12' : '2', 
           'NC_000003.12' : '3',
           'NC_000004.12' : '4', 
           'NC_000005.10' : '5', 
           'NC_000006.12' : '6', 
           'NC_000007.14' : '7', 
           'NC_000008.11' : '8', 
           'NC_000009.12' : '9',
           'NC_000010.11' : '10',
           'NC_000011.10' : '11',
'NC_000012.12' : '12',
'NC_000013.11' : '13',
'NC_000014.9'  : '14',
'NC_000015.10' : '15',
'NC_000016.10' : '16', 
'NC_000017.11' : '17', 
'NC_000018.10' : '18',
'NC_000019.10' : '19', 
'NC_000020.11' : '20', 
'NC_000021.9' : '21', 
'NC_000022.11' : '22', 
'NC_000023.11' : '23', 
'NC_000024.10' : '24'
          }

In [43]:
for i in rsi:
    line = i.strip().split('\t')
    print(line)
    ch = line[0]
    newch = dic_chr[ch]
    refrsi.write(
    newch + '\t' 
        + line[1]+ '\t' 
        + line[2]+ '\t'
        + line[3]+ '\t' 
        + line[4]+ '\t'
        +line[5] + "\n")

In [11]:
rsi.close()

In [19]:
a = 'NC_000001.11'
int(a[7:9])

1

In [21]:
a = {'b':'c'}

In [23]:
a['b']

'c'

переименуем имена хромосом в bed файле 
нужно переименовать хромосомы 
>NC_000023.11 Homo sapiens chromosome X, GRCh38 Primary Assembly
>NC_000024.10 Homo sapiens chromosome Y, GRCh38 Primary Assembly
то есть 
X==23
Y==24

In [14]:
bed = open('head_first', 'r')
refbed = open('head_first_ref', 'w')

dic_chr = {'X' : '23', 
           'Y' : '24'}#остальные сохраняем как есть

for i in bed:
    line = i.strip().split('\t')
    ch = line[0]
    #print(ch)
    if ch in dic_chr:
        ch = dic_chr[ch]
    refbed.write(
    ch + '\t' 
        + line[1]+ '\t' 
        + line[2]+ '\t'
        + line[3]+ '\t' 
        + line[4]+ '\t'
        +line[5] + '\t'
        +line[6]+ "\n")
bed.close()
bedref.close()

Y
24
X
23
X
23
X
23
X
23
X
23
X
23
X
23
X
23
Y
24

In [4]:
'X' in dic_chr

True

In [5]:
'Y' in dic_chr

True

In [6]:
'25' in dic_chr

False